@import '../base';

.canyon-container {
    background: $component-background-image;
    padding: 150px 0;
}

.canyon-content {
    background-color: $container-color;
    border-radius: $border-radius;
    padding: 10px;
}

.heading {
    font-family: $font-stack!important;
    font-weight: bold!important;
}

.canyon-heading-name {
    margin: 10px!important;
}

.side-by-side {
    display:flex;
    justify-content: space-around;
}

.canyon-img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: $border-radius;
}

.canyon-owner-details {
    width: 50vw;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

.delete-canyon-btn,
.edit-canyon-btn {
    text-transform: capitalize!important;
    color: white!important;
}

.edit-canyon-btn {
    background-color: $edit;
    font-weight: bold!important;
}

.delete-canyon-btn {
    background-color: $delete;
}

.edit-canyon-modal {
    height: 100vh;
}

.weather-info {
    font-weight: bold;
}

.temp {
    font-size: 1.3rem;
}


.cold,
.warm {
    padding:3px;
    border-radius: $border-radius;
}

.cold {
    background-color: rgb(0, 204, 255);
}

.warm {
    background-color: rgb(199, 159, 49);
}

.canyon-description {
    background: rgba(248, 249, 252, 0.726);
    width: 50%;
    padding: 3px;
    margin: 0 auto;
    text-align: initial;
    font-family: $font-article;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: $border-radius;
   
}

.display-comment-header {
    display: inline;
}
@media (max-width: 1240px){
    .canyon-owner-details {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .delete-canyon-btn {
        width: 50%;
        margin: 0 auto;
    }

    .edit-canyon-btn,
    .canyon-owner,
    .canyon-rating {
        margin: 5px;
    }
}

@media (max-width: 900px){
    .canyon-img {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
}

@media(max-width: 790px){
    .side-by-side {
        flex-direction: column;
    }
}
