@import '../base';

.upload-zone {
    border: none;
    outline: none;
}

.upload-text {
    margin: 0;
}

.upload {
    font-size: 3rem;
    color: $link;
    cursor: pointer;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.upload:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }