@import '../base';

.profile-container {
    background: $component-background-image;
    height: 155vh;
    padding: 90px 0 15px 0;
    background-attachment: fixed;
}

.user-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 90vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: $border-radius;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.add-description-user {
    background-color: $link;
    color: $heading-color;
    font-family: $font-stack!important;
    font-weight: bold!important;
    text-transform: capitalize!important;
}

.username-heading,
.member-heading {
    font-family: $font-stack!important;
}

.profile-description {
    display: flex;
    align-items: center;
}

.user-description {
    text-align: initial;
    font-size: 1.5rem;
    font-family: $font-article;
    border-bottom: solid 3px #201d1d;
    transition: border-width 0.4s linear;
}
  
.user-description:hover { 
    border-width: 6px; 
}

.profile-canyon-heading {
    color: $heading-color;
    padding: 10px 0;
}