@import '../base';

.dashboard {
    padding-top: 70px;
    background: url('../../images/background4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 120vh;
    background-attachment: fixed;
}

.dashboard-header {
    padding: 20px 0;
    color: $heading-color;
}