@import '../base';

.canyoneers-dashboard {
    background: $component-background-image;
    height: 155vh;
    padding-top: 90px;
    background-attachment: fixed;
}

.canyoneers-header {
    color: $heading-color;
}

.canyoneers-container {
    padding: 10px;
    margin: 15px;
    overflow-y: auto;
}

.canyoneer-content {
    width: 50vw;
    margin: 10px auto!important;
    background-color: $container-color!important;
}

.canyoneer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canyoneer-pic {
    height: 100px!important;
    width: 100px!important;
    margin: 0 auto!important;
}

.description {
    font-family: $font-article!important;
}