@import '../base';

.canyoneers-dashboard {
    background: $component-background;
    height: 155vh;
}

.canyoneers-container {
    padding: 10px;
    margin: 15px;
    overflow-y: auto;
}

.canyoneer-content {
    width: 50vw;
    margin: 10px auto!important;
}

.canyoneer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canyoneer-pic {
    height: 100px!important;
    width: 100px!important;
    margin: 0 auto!important;
}