@import '../base';

.header-container {
    background-color: $heading-dark;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.header-heading {
    font-family: $font-stack!important;
    color: $heading-color;
}

.dropdown {
    display: none;
    font-size: 30px;
}

.mobile-navbar {
    display: none;
}

.nav-item {
    text-decoration: none;
    color: $heading-color;
    margin: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}

@media(max-width: 650px){
    .navbar {
        display: none;
    }

    .dropdown {
        display: initial;
        cursor: pointer;
        color: $heading-color;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: column;
        background-color: $heading-background;
        border-radius: 15px;
        position: fixed;
        right: 0;
        top: 70px;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
  }

  @keyframes fadeIn {
     from {
        opacity: 0;
     }
     to {
        opacity: 1;
     }
  }
