@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&display=swap');
$font-stack: 'Architects Daughter', cursive;
$font-article: 'Amatic SC', cursive;

$background: #19136D;
$form-background: #222020d0;
$border-radius: 10px;
$input-radius: 5px;
$component-background: radial-gradient(circle, rgba(157,109,72,0.5816701680672269) 8%, rgba(255,164,0,1) 100%);
$heading-background: rgb(240, 196, 51);

$link: #6bdcff;
$info: #6bdcff;

$heading-color: #ffffff;

$form-width: 30%;

//Buttons
$submit: #3bbe1a;
$edit: rgb(248, 216, 112);

body {
    font-family: $font-stack!important;
}

.heading {
    font-family: $font-stack!important;
}

.link {
    text-decoration: none;
}

.link:active {
    color: $submit;
}