@import '../../base';

.add-canyon-wrapper {
    width: 100%!important;
    overflow-y: auto;
    height: 80vh;
}

.add-canyon-container {
    display: flex!important;
    flex-direction: column;
    width: 50vw!important;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: $border-radius;
}

.canyon-img-placeholder {
    margin: 0 auto;
    height: 350px;
    width: 350px;
}

.submit-canyon-btn {
    background-color: $submit;
    color: white!important;
    font-size: 1rem!important;
}

.folder-icon {
    margin-left: 10px;
}


