@import '../base';

.add-comment {
    background-color: $link;
    color: $heading-color;
    text-transform: capitalize!important;
    font-family: $font-stack!important;
    margin-left: 5px!important;
    margin-bottom: 12px!important;
}

.comments-container {
    margin-top: 10px;
    height: 60vh;
    overflow-y: auto!important;
    width: auto!important;
}

.comments-test {
    margin: 5px;
}

.author-details {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 3px;
    
}

.comment-pic {
    background-color: white;
}

.comment-owner {
    font-weight: bold;
    color: $heading-dark;;
    margin: 0 10px;
}

.user-comment {
    background-color: white;
    padding: 5px;
    border-radius: 0 10px 10px 10px;
    text-align: initial;
}

.comment {
    margin: 0;
}

.comment-timestamp {
    font-size: .7rem;
    color: grey;
}

.delete,
.edit {
    padding: 0!important;
}

.edit {
    margin-left: 2px!important;
}