@import '../base';

.add-comment {
    background-color: $link;
    color: $heading-color;
}

.comments-container {
    margin-top: 10px;
    background-color: rgb(110, 109, 114);
    width: 60vw!important;
    height: 20vh;
    overflow-y: auto!important;
}

.mapped-comments {
    display: flex!important;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

}

.comments-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.comment-pic {
    background-color: white;
}

.comment-owner {
    font-weight: bold;
    color: white;
    margin: 0 10px;
}

.user-comment {
    background-color: white;
    padding: 10px;
    border-radius: 0 50px 50px 50px;
    text-align: initial;
}

.comment-timestamp {
    font-size: .7rem;
    color: grey;
}